
.intro {
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    margin: 0 0 50px 0;
}

.start {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

.start #strbtn {
    font-family:'Courier New', Courier, monospace;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 0 50px 0;

}

.choices #gbtn {
    background-color: rgb(75, 177, 75);
    font-family:'Courier New', Courier, monospace;
}

.choices #fbtn {
    background-color: rgb(248, 98, 39);
    font-family:'Courier New', Courier, monospace;
}

.choices #wbtn {
    background-color: rgb(70, 199, 242);
    font-family:'Courier New', Courier, monospace;
}

.scores {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin: 0 0 50px 0;
}

.yourscore {
    font-family:'Courier New', Courier, monospace;
}

.oppscore {
    font-family:'Courier New', Courier, monospace;
}

.battlefield {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    margin: 0 0 50px 0;
}

.battlefield .yourplay {
    color:rgb(70, 199, 242);
}

.declare {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

